<header class="navbar">
  <nav class="nav">
    <!-- Logo -->
    <button
      *ngIf="showLogo"
      type="button"
      class="nav__brand"
      aria-label="Go to homepage"
      (click)="goHome()"
    >
      <img
        *ngIf="logo.type === 'image'"
        [src]="logo.src"
        [alt]="logo.alt || 'Logo'"
        class="nav__logo"
      />

      <i
        *ngIf="logo.type === 'icon'"
        class="nav__logo-icon"
        [class]="logo.icon"
        aria-hidden="true"
      ></i>

      <span *ngIf="logo.type === 'text'" class="nav__logo-text">
        {{ logo.text }}
      </span>
    </button>

    <!-- Menu -->
    <ul class="nav__list" [class.nav__list--open]="isMobileMenuOpen">
      <ng-container *ngFor="let item of routes; trackBy: trackByLabel">
        <li *ngIf="isVisible(item)" class="nav__item">
          <!-- Parent with children -->
          <button
            *ngIf="item.children?.length; else normalLink"
            type="button"
            class="nav__link nav__link--button"
            [class.nav__link--open]="isSubmenuOpen(item)"
            (click)="toggleSubmenu(item)"
          >
            <span class="nav__link-content">
              <span>{{ item.label }}</span>

              <span *ngIf="item.badge" class="nav__badge">
                {{ item.badge }}
              </span>
            </span>

            <!-- Keep only dropdown icon -->
            <i
              class="fa-solid nav__chevron"
              [ngClass]="isSubmenuOpen(item) ? 'fa-angle-up' : 'fa-angle-down'"
              aria-hidden="true"
            ></i>
          </button>

          <!-- Normal link -->
          <ng-template #normalLink>
            <a
              class="nav__link"
              [routerLink]="item.route"
              routerLinkActive="nav__link--active"
              [routerLinkActiveOptions]="{ exact: item.exact || false }"
              (click)="closeMobileMenu()"
            >
              <span class="nav__link-content">
                <span>{{ item.label }}</span>

                <span *ngIf="item.badge" class="nav__badge">
                  {{ item.badge }}
                </span>
              </span>
            </a>
          </ng-template>

          <!-- Submenu -->
          <ul
            *ngIf="item.children?.length && isSubmenuOpen(item)"
            class="nav__submenu"
          >
            <ng-container *ngFor="let child of item.children; trackBy: trackByLabel">
              <li *ngIf="isVisible(child)" class="nav__submenu-item">
                <a
                  class="nav__submenu-link"
                  [routerLink]="child.route"
                  routerLinkActive="nav__submenu-link--active"
                  (click)="closeMobileMenu()"
                >
                  <span>{{ child.label }}</span>

                  <span *ngIf="child.badge" class="nav__badge">
                    {{ child.badge }}
                  </span>
                </a>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>

    <!-- Actions -->
    <div class="nav__actions">
      <!-- Keep theme switch icon -->
      <button
        type="button"
        class="nav__icon-button"
        aria-label="Toggle theme"
        (click)="toggleTheme()"
      >
        <i
          [class]="(isDark$ | async) ? 'fa-solid fa-sun' : 'fa-solid fa-moon'"
          aria-hidden="true"
        ></i>
      </button>

      <!-- Keep mobile toggle icon -->
      <button
        type="button"
        class="nav__icon-button nav__menu-button"
        aria-label="Toggle navigation menu"
        [attr.aria-expanded]="isMobileMenuOpen"
        (click)="toggleMobileMenu()"
      >
        <i
          [class]="isMobileMenuOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'"
          aria-hidden="true"
        ></i>
      </button>
    </div>
  </nav>
</header>
